body {
    margin: 0;
    background: #6563FF;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background: #F8F8F8;
    padding: 25px;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    height: 400px;
    gap: 10px;
    padding: 0px
}

.card {
    cursor: pointer;
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    background: #fff;
    border-radius: 7px;
    list-style: none;
    position: reltive;

}

.view {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: #fff;
    border-radius: 7px;
}

.back-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.card {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.card.flip .back-view {
    transform: rotateY(0deg);
}

.card .front-view,
.card .back-view {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-10px);
    }

    40%,
    80% {
        transform: translateX(10px);
    }
}

.card.shake {
    animation: shake 0.4s ease-in-out;
}


.hidden {
    display: none;
}


#win-message {
    position: absolute;
    top: 32%;
    left: 17%;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #00ffff13;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
    animation: winAnimation 2s ease-in-out infinite alternate;

    /* transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 20px #ff00ff;
    z-index: 9999; */
}

/* Keyframe animation */
@keyframes winAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        color: #ff00ff;
        text-shadow: 0 0 20px #ff00ff;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2) rotate(5deg);
        color: #00ffff;
        text-shadow: 0 0 40px #00ffff;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        color: #ffff00;
        text-shadow: 0 0 20px #ffff00;
    }
}

.player.info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 90px;
    font-size: 1, 5em;
    border: 2px;
    color: #fff; 
}
.game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} 
.current{
    font-size: 1,5em;
    font-weight: bold;
    text-align: center;
    margin-block: 12px;
}
.player1 {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    width: 30%;

}
.player2 {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    width: 30%;
    
}